
<link rel="stylesheet" type="text/css" href="~/Content/Header-Nightsky.css">
<link rel="stylesheet" type="text/css" href="~/Content/hhstyle.css">
<link rel="stylesheet" type="text/css" href="~/Content/myCss.css">

<div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
    <div class="row">
        <table style="width:100%">
            <tr>
                <td style="width: 25%">
                    <select id="searchSelectBoxID" class="flipkart-navbar-dropdown" style="width:98%; color:black;" name="search">
                        <option value="" style="min-height:25px;">All</option>
                        @foreach (var category in ViewBag.categories)
                        {
                            <option value=@category.CategoryId style="min-height:25px;">@category.Name</option>
                        }
                    </select>
                </td>
                <td style="width: 75%">
                    <input id="searchCriterionID" style="color:black;" class="flipkart-navbar-input col-xs-10" placeholder="Search for Products, Brands and more" name="">
                    <button id="searchBtnID" class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $("#searchBtnID").click(function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        var category = $("#searchSelectBoxID option:selected").val();
        var criteria = $("#searchCriterionID").val();
        //alert(category);
        //alert(criteria);

        var postData = {
            "CategoryId": category,
            "Criteria": criteria
        };

        $.ajax({
            type: "POST",
            url: "../SearchProduction/Index",
            //dataType: "html",
            //dataType: "json",
            datatype: "text/plain",
            cache: false,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ model: postData }),
            success: function (result) {
                //alert("success");
                $("#BodyID").html(result);    

                // Result.  
                //onAjaxRequestSuccess(result);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing  
                alert("fail");
            }
        });
    });

</script>