<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhmarket.mobile">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HHMarketApp"
        android:allowBackup="true"
        android:icon="@mipmap/my_ic_launcher"
        android:roundIcon="@mipmap/my_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data android:name="android.app.default_searchable"
            android:value=".ui.activity.MainActivity" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".ui.activity.AboutActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.activity.ReviewActivity"/>

        <provider
            android:name=".search.CustomSuggestionProvider"
            android:authorities="com.hhmarket.mobile.search"></provider>
        <provider
            android:name=".search.RecentQuerySuggestionProvider"
            android:authorities="com.hhmarket.mobile.RecentQuerySuggestionProvider" />

    </application>

</manifest>