@charset "utf-8";

.title-production {
	font-size: 20px;
	color: black;
	margin: 5px;
	
	}


.customer-info {
	color: darkgray;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
	display:block;
	
}

.btn {
	display:block;
	background-image: linear-gradient(-179deg, #15CAE2 0%, rgba(8,155,193,0.93) 5%, #33C0E4 89%, #76DFF5 100%);
box-shadow: inset 0 0 0 0 #FFFFFF;
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 10px;
	color: white;
	border: 0px;
	width: 100px;
}

.production-price{
	font-size: 18px;
}

.screen {
    position: relative;
    clear: none; 
}
.left .right {
    position: absolute;
}
